.button {
  padding: 0;
  transition: transform .25s;
  border: none;
  cursor: pointer;
  &--slide {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.25s, height 0.25s, transform 0.25s;
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    bottom: .5rem;
    @media (min-width: 768px) {
      width: 48px;
      height: 48px;
    }
    &-prev {
      right: calc(1rem + 48px);
    }
    &-next {
      right: .5rem;
    }
  }
  &:active {
    transform: scale(.95);
  }
}