.info {
  display: flex;
  background-color: var(--secondary-theme-color);
  gap: 1rem 0;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;

  &__title {
    margin: 0;
    text-align: center;
  }
  
  &__subtitle {
    margin: 0;
    font-size: 1rem;
    text-align: center;
  }
  
  &__description {
    margin: 0;
    font-size: .9rem;
    text-align: center;
    padding: 0 1rem;
  }
  
  &__description::after {
    content: '❤';
  }
  &__description::before {
    content: '❤';
  }
  @media (min-width: 728px) {
    &__title {
      font-size: 1.75rem;
    }
    
    &__subtitle {
      font-size: 1.3rem;
    }
    
    &__description {
      font-size: 1.25rem;
    }
    
  }
  
}
