:root {
  scroll-behavior: smooth;
  --primary-theme-color: #20232a;
  --secondary-theme-color: #282c34;
  --primary-text-color: #fff;
  --primary-highlight-color: #61dafb;
  --primary-font-family: 'Inter', sans-serif;
  --padding-section: 1.5rem;
  --padding-container: 1rem;
  --max-width-container: 640px;
  --letter-color-1: #51edd0 ;
  --letter-color-2: #B9FFF8 ;
  --letter-color-3: #6FEDD6 ;
  --letter-color-4: #FF9551 ;
  --letter-color-5: #FF4A4A ;
  --letter-color-6: #87122e ;
}

@media (min-width: 768px) {
  :root {
    --padding-section: 2rem;
    --padding-container: 0.75rem;
    --max-width-container: 1024px;
  }
}