.button {
  --color-button: #fff;
  display: inline-block;
  background-color: #20232a;
  border: #20232a 0.125rem solid;
  border-radius: 0.5rem;
  color: var(--color-button);
  font-weight: 700;
  font-size: 0.75rem;
  font-family: var(--primary-font-family);
  text-decoration: none;
  padding: 0.5em 2em;
  cursor: pointer;
  box-sizing: border-box;
  transition: filter 0.25s, box-shadow 0.25s;
  margin: 0.25rem;
}

.button:hover {
  box-shadow: 0 0 0.25rem 0 #20232a;
  filter: brightness(112.5%);
}

.button--primary {
  color: #000;
  background-color: #61dafb;
  border: #61dafb 0.125rem solid;
}

.button--primary:hover {
  box-shadow: 0 0 0.25rem 0 #61dafb;
}

.button--secondary {
  color: #000;
  background-color: gold;
  border: gold 0.125rem solid;
  color: #000;
}

.button--secondary:hover {
  box-shadow: 0 0 0.25rem 0 gold;
}

.button--tertiary {
  color: #000;
  background-color: white;
  border: white 0.125rem solid;
}

.button--tertiary:hover {
  box-shadow: 0 0 0.25rem 0 white;
}

.button--outline {
  background-color: transparent;
  color: var(--reverse-primary-text-color);
}

.button--dark-outline {
  color: white;
  background-color: transparent;
}

.button--light-outline {
  background-color: transparent;
  color: #fff;
}

@media (min-width: 728px) {
  .button {
    font-size: 1rem;
  }
}