.hero-img {
  position: relative;
  z-index: 1;
}

/* .hero-img:: */

.hero-img__img {
  display: block;
  background-color: var(--primary-shadow-color);
  border-radius: 50%;
  width: 256px;
  height: 256px;
}

.hero-img__decorators {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  animation: spin 10s linear 0s infinite normal none running;
}

.hero-img__decorator {
  position: absolute;
  width: 64px;
  height: 64px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hero-img__decorator:nth-child(1) {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-img__decorator:nth-child(2) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.hero-img__decorator:nth-child(3) {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.hero-img__decorator:nth-child(4) {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
