@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  padding: 0;

}

header.header {
  width: 100%;
  height: 10em;
  background-color: #082032;
  display: flex;
  padding: 0 3em;
  box-sizing: border-box;
}

header .header__nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header__nav--links {
  width: 30%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: .5em 0;
  justify-content: space-evenly;
}

header .header__nav--links > li a {
  text-decoration: none;
  color: white;
}


header .header__nav--links > li a:hover {
  text-decoration: underline;
}

main.main {
  width: 100%;
  padding: 3em 0;
  flex: 1;
  background-color: white;
}

.main__article--container {
  align-items: center;
  padding: 3em;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 3em 0;
  justify-items: center;
}

.info {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 1em;
}

.info .info__title {
  margin: 0;
}

.info .info__subtitle {
  margin: 0;  
}

.info .info__description {
  margin: 0;  
}

.info__link {
  text-decoration: none;
  color: black;
  background-color:rgb(79 251 220);
  padding: 1em;
  font-weight: 600;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.info__link:active {
  transform: scale(.95);
}

.images {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em 0;
}

.images .images__figure {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main.main table {
  border: 1px solid black;
  width: 80%;
  margin: auto;
}

table.main__table thead.main__table--head > .main__table--head.tr__head > .tr__head--th {
  text-align: center;
  border: 1px solid black;
}

table.main__table thead.main__table--head > .main__table--head.tr__head {
  line-height: 2em;
}
table.main__table .main__table--caption {
  font-size: 2em;
  padding: 0 0 1em 0;
  font-weight: 700;
}

main.main table tbody > tr > td {
  border: 1px solid black;
  padding: 1em;
}


.main__section {
  margin-top: 4em;
}

div.main__section--container {
  margin: 0 auto;
  background-color: #2C394B;
  width: 80%;
  border-radius: .1em;
  padding: 1em;
}

.main__section--container.title {
  text-align: center;
  font-size: 2em;
  margin: .5em 0;
  color: white;
}

.main__section--container.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

.main__section--container.form > label {
  color: white;
}

.main__section--container.form > input {
  width: 60%;
  line-height: 2em;
  outline: none;
  border: none;
  margin: .5em 0 0 0;
  padding: 0 .8em;
}

.main__section--container.form > select {
  outline: none;
  border: none;
  padding: 1em;
  font-size: 1em;
  width: 60%;
}

.header__nav--link.img {
  object-fit: cover;
  width: 6em;
}

.main__section--container.form--button {
  border: none;
  cursor: pointer;
  line-height: 3em;
  font-size: 1em;
  font-weight: 600;
  width: 50%;
  margin: .5em 0;

}

.main__section--container.form--button:active {
  transform: scale(.95);
}

.footer {
  background-color: #ebebeb;
  width: 100%;
}

div.footer__nav--container {
  line-height: 4em;
  display: flex;
  padding: 1em 0;
  flex-flow: column;
}

.footer__nav--container.list {
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
  margin: 0;
  justify-content: center;
  gap: 0 2em;
  line-height: 4em;
  width: 100%;
}


.icon-instagram {
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-size {
  font-size: 2.5em;
}

.icon-facebook {
  color: #1e1eff;
}

.icon-youtube {
  color: #ff0000;
}

.icon-github {
  color: #000;
}

.icon-globe {
  color: rgb(64, 191, 200);
}

.footer__copyright {
  margin: 0;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
}

.footer__copyright--link {
  text-decoration: none;
  color: #4343f7;
}

@media screen and (min-width: 728px) {
  header .header__nav--links {
    width: 50%;
    flex-direction: row;
  }
  .info .info__link {
    width: 50%;
  }
  .images {
    flex-direction: row;
    gap: 0 .5em;
  }
}

@media screen and (min-width: 1280px) {
  header .header__nav--links {
    width: 20%;
  }
  div.main__section--container {
    width: 60%;
  }
  .main__section--container.form > input {
    width: 40%;
  }
  .main__section--container.form > select {
    width: 40%;
  }
  .main__article--container {
    padding: 4em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;  
  }
  .images .images__figure{
    flex-direction: column;
    gap: 1em 0;
  }
  div.footer__nav--container {
    flex-flow: row;
    padding: 0;
    align-items: center;
  }
  .footer__copyright {
    width: 60%;
  }
  .footer__nav--container.list {
    justify-content: flex-start;
    padding: revert;
  }
}