@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
  scroll-behavior: smooth;
  --font--page: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  font-family: var(--font--page);
  box-sizing: border-box;
}

.body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 10em;
  background-color: #082032;
  display: flex;
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 0.05rem white;
  padding: 0 3em;
  box-sizing: border-box;
}

.header-nav {
  width: 100%;
  height: 100%;
}

.header-container {
  width: 100%;
  height: 100%;
  max-width: 1024px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.header-nav__link-logo-container {
  display: flex;
}

.header-nav__link-logo {
  object-fit: cover;
  width: 6rem;
  height: auto;
}

.header-nav__list-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: .5em 0;
  justify-content: space-evenly;
}

.header-nav__menu-link {
  text-decoration: none;
  color: white;
  position: relative;
  font-weight: 700;
  transition: .25s color;
}

.header-nav__menu-link::before {
  content: '';
  width: 0;
  position: absolute;
  height: 0.125rem;
  bottom: -0.125rem;
  left: 0;
  background-color: #61dafb;
  transition: width .25s ease-in-out;
}

.header-nav__menu-link:hover::before {
  width: 100%;
}

.header-nav__menu-link--active {
  color: #61dafb;
}

.main {
  width: 100%;
  flex: 1;
  background-color: white;
}

.i-hero {
  background-image: url('../assets/img/background-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  height: 100vh;
  display: flex;
  /* transition: background-position .25s; */
  align-items: center;
  position: relative;
}

.i-hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  overflow: hidden;

  height: 2rem;
  background-image: linear-gradient(transparent, rgb(117 117 117));
}

.i-hero-container {
  padding: 0 2em;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(1fr, 2);
  gap: 4em 0;
  flex-direction: column;
  margin: 0 auto;
}

.i-hero__info-container {
  display: flex;
  gap: 1em 0;
  flex-direction: column;
  align-items: center;
}

.i-hero__info-title, .i-hero__info-subtitle, .i-hero__info__paragraph {
  margin: 0;
  text-align: center;
}

.i-hero__info-title {

}
.i-hero__info-subtitle {
}

.i-hero__info__paragraph {
  display: none;
}

.i-hero__info-link {
  text-decoration: none;
  color: black;
  background-color:rgb(79 251 220);
  padding: 0.5em 2em;
  font-size: 1rem;
  font-weight: 700;
  border-radius: .5rem;
  font-family: var(--font--page);
  border: none;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  transition: transform .25s, filter .25s;
}

.i-hero__info-link:hover {
  filter: brightness(112.5%);
  box-shadow: 0 0 0.25rem 0 rgb(79 251 220);
}

.i-hero__info-link:active {
  transform: scale(.95);
}

.i-hero__img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.i-hero__img-pro {
  background-color: #00000040;
  border-radius: 50%;
  width: 256px;
  height: 256px;
}

.i-hero__img-tech-container {
  margin: 0;
  position: absolute;
  top: 0;
  width: 256px;
  height: 100%;
  animation: spin 10s linear infinite;
  will-change: transform;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.i-hero__img-tech {
  transform: translate(-50%, -50%);
  position: absolute;
}

.i-hero__img-tech:nth-child(1) {
  top: 100%;
  left: 50%;
}

.i-hero__img-tech:nth-child(2) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(90deg);
}

.i-hero__img-tech:nth-child(3) {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.i-hero__img-tech:nth-child(4) {
  top: 0%;
  left: 50%;
  width: auto;
}

.main-table {
  border: 1px solid black;
  width: 80%;
  margin: auto;
}

.row__head {
  text-align: center;
  border: 1px solid black;
}

.row {
  line-height: 2em;
}

.main-table-caption {
  font-size: 2em;
  padding: 0 0 1em 0;
  font-weight: 700;
}

.row__data {
  border: 1px solid black;
  padding: 0.5em;
}


.main-section {
  margin-top: 4em;
}

.main-section-container {
  margin: 0 auto;
  background-color: #2C394B;
  width: 80%;
  border-radius: .1em;
  padding: 1em;
}

.title {
  text-align: center;
  font-size: 2em;
  margin: .5em 0;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

.form-label {
  color: white;
}

.form-input {
  width: 80%;
  line-height: 2em;
  outline: none;
  border: none;
  margin: .5em 0 0 0;
  padding: 0 .8em;
}

.form-select {
  outline: none;
  border: none;
  padding: 1em;
  font-size: 1em;
  width: 60%;
}

.form-button {
  border: none;
  cursor: pointer;
  line-height: 3em;
  font-size: 1em;
  font-weight: 600;
  width: 50%;
  margin: .5em 0;

}

.form-button:active {
  transform: scale(.95);
}

.footer {
  background-color: #ebebeb;
  width: 100%;
}

.footer-nav-container {
  line-height: 4em;
  display: flex;
  padding: 1em 0;
  flex-flow: column;
}

.list {
  list-style: none;
  display: flex;
  padding: 0;
  align-items: center;
  margin: 0;
  justify-content: center;
  gap: 0 2em;
  line-height: 4em;
  width: 100%;
}


.icon-instagram {
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-size {
  font-size: 2.5em;
}

.icon-facebook {
  color: #1e1eff;
}

.icon-youtube {
  color: #ff0000;
  padding-top: .1em;
}

.icon-github {
  color: #000;
}

.icon-globe {
  color: rgb(64, 191, 200);
}

.footer-nav__copyright {
  margin: 0;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
}

.copyright__link {
  text-decoration: none;
  color: #4343f7;
}

.list__item {
  display: flex;
}


@media (min-width: 640px) {
  .row__data {
    padding: 2em;
  }
  .form-input {
    width: 60%;
  }
  .info {
    padding: 2em;
  }
}

@media (min-width: 728px) {
  .header {
    height: 8em;
  }
  .header-nav__link-logo {
    width: 5em;
  }
  .header-nav__list-container {
    flex-direction: row;
    gap: 0 1rem;
  }
  .i-hero__info__paragraph {
    display: block;
    font-size: 1.2rem;
  }
  .i-hero-container{
    max-width: 64rem;
    grid-template-columns: 2fr 1fr;
    /* flex-direction: row; */
  }
}

@media (min-width: 1280px) {
  .main-section-container {
    width: 60%;
  }
  .header-nav__list-container {
    flex-direction: row;
    gap: 0;
  }
  .form-input {
    width: 40%;
  }
  .form-select {
    width: 40%;
  }
  .footer-nav-container {
    flex-flow: row;
    padding: 0;
    align-items: center;
  }
  .footer-nav__copyright {
    width: 70%;
  }
  .footer-nav-container .list {
    justify-content: flex-start;
    padding: revert;
  }
  .icon-size {
    font-size: 2em;
  }
  
}

@media (min-width: 1536px) {
  .footer-nav__copyright {
    width: 60%;
  }
}